body {
	background-color: black;
}

div {
	/*font properties*/
	font-family: Courier, sans-serif;
	font-size: 40px;
	color: #00ff00;
	
	/*div properties*/
	width: 400px;
	height: 80px;
	vertical-align: middle;
	line-height: 80px;
	background-color: black;
	border: 3px solid black;
	padding-left: 5px;
}

div.scroll {
	/*font properties*/
	font-family: Courier, sans-serif;
	font-size: 40px;
	color: #00ff00;
	
	/*div properties*/
	width: 400px;
	height: 800px;
	/*vertical-align: middle;*/
	/*line-height: 80px;*/
	background-color: black;
	border: 3px solid black;
	padding-left: 5px;
}

div:hover {
	border: 3px solid #00ff00;
}

div:active {
	background-color: #00ff00;
}

div.splash {
	vertical-align: middle;
	text-align: center;
	line-height: 80px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}